PORT=3000
HOST=0.0.0.0
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=bd_hostal
JWT_SECRET=bd_hostal
BACKEND_URL=http://192.168.1.37:4000

GOOGLE_CLIENT_ID=xxxxx
GOOGLE_CLIENT_SECRET=xxxxxxx

BANCO_ECONOMICO_BASE_URL=https://apimktdesa.baneco.com.bo/ApiGateway
BANCO_ECONOMICO_USER=
BANCO_ECONOMICO_PASSWORD=
BANCO_ECONOMICO_AES_KEY=
BANCO_ECONOMICO_ACCOUNT_CREDIT=

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://192.168.1.100:5173